<nav id="home-nav">
    <ul id="home-nav-ul">
        <li class="button-white">
            <a href="#openinghours">
                <span class="wrap-icon">
                    <svg>
                        <use href="#clock"></use>
                    </svg>
                </span>
                <span class="home-nav-text openorclosed">Openingstijden<br /><span class="info"></span></span>
            </a>
        </li>
        <li class="button-white">
            <a href="http://exloo.spar.nl" target="_blank" rel="noopener noreferrer">
                <span class="wrap-icon">
                    <svg>
                        <use href="#basket"></use>
                    </svg>
                </span>
                <span class="home-nav-text">Webwinkel<br /><span class="info">http://spar.exloo.nl</span></span>
            </a>
        </li>
        <li class="button-white">
            <a href="https://goo.gl/maps/q2uZGozRkatV57XM9" target="_blank" rel="noopener noreferrer">  
                <span class="wrap-icon">
                    <svg>
                        <use href="#location"></use>
                    </svg>
                </span>
                <span class="home-nav-text">Route<br /><span class="info">Hoofdstraat 49<br />7875AB Exloo</span></span>
            </a>
        </li>
        <li class="button-white">
            <a href="tel:+31591549082">
                <span class="wrap-icon">
                    <svg>
                        <use href="#phone"></use>
                    </svg>
                </span>
                <span class="home-nav-text">Bel ons<br /><span class="info">0591-549082</span></span>
            </a>
        </li>
        <li class="button-white">
            <a href="/meer">
                <span class="wrap-icon">
                    <svg>
                        <use href="#store"></use>
                    </svg>
                </span>
                <span class="home-nav-text">Meer over ons</span>
            </a>
        </li>
    </ul>
</nav>
