{{ define "main" }}
<main id="home" class="grid-c">
    <section id="hero" class="grid-ct">
        {{ with $image := resources.Get "images/ondernemers.png" }}
        {{ $imagewebp := $image.Resize "680x webp picture" }}
        {{ $imagejpg := $image.Resize "680x jpg picture" }}
        {{ $imagewebp2 := $image.Resize "510x webp picture" }}
        {{ $imagejpg2 := $image.Resize "510x jpg picture" }}
        {{ $imagewebp3 := $image.Resize "340x webp picture" }}
        {{ $imagejpg3 := $image.Resize "340x jpg picture" }}
        {{ $imagewebp4 := $image.Resize "170x webp picture" }}
        {{ $imagejpg4 := $image.Resize "170x jpg picture" }}
        {{ $imagewebp5 := $image.Resize "150x webp picture" }}
        {{ $imagejpg5 := $image.Resize "150x jpg picture" }}
        {{ $imagewebp6 := $image.Resize "100x webp picture" }}
        {{ $imagejpg6 := $image.Resize "100x jpg picture" }}
        {{ $imagewebp7 := $image.Resize "70x webp picture" }}
        {{ $imagejpg7 := $image.Resize "70x jpg picture" }}
        <a class="bubble ondernemer large" href="/">
            <svg>
                <use href="#bubble"></use>
            </svg>
            <img src="{{ $imagejpg.RelPermalink }}" alt="" 
                srcset="
                {{ $imagewebp7.RelPermalink}} {{ $imagewebp7.Width }}w,
                {{ $imagejpg7.RelPermalink}} {{ $imagejpg7.Width }}w,
                {{ $imagewebp6.RelPermalink}} {{ $imagewebp6.Width }}w,
                {{ $imagejpg6.RelPermalink}} {{ $imagejpg6.Width }}w,
                {{ $imagewebp5.RelPermalink}} {{ $imagewebp5.Width }}w,
                {{ $imagejpg5.RelPermalink}} {{ $imagejpg5.Width }}w,
                {{ $imagewebp4.RelPermalink}} {{ $imagewebp4.Width }}w,
                {{ $imagejpg4.RelPermalink}} {{ $imagejpg4.Width }}w,
                {{ $imagewebp3.RelPermalink}} {{ $imagewebp3.Width }}w,
                {{ $imagejpg3.RelPermalink}} {{ $imagejpg3.Width }}w,
                {{ $imagewebp2.RelPermalink}} {{ $imagewebp2.Width }}w,
                {{ $imagejpg2.RelPermalink}} {{ $imagejpg2.Width }}w,
                {{ $imagewebp.RelPermalink}} {{ $imagewebp.Width }}w,
                {{ $imagejpg.RelPermalink}} {{ $imagejpg.Width }}w"
                sizes="170px">
        </a>
        {{ end }}
        <a id="title-wrap" href="/">
            <h1 class="title">{{ .Title }}</h1>
            {{ .Content }}
        </a>
        <div id="nav-wrap">
            <nav id="home-nav">
                <ul id="home-nav-ul" class="resetlist flex-c">
                    <li class="button green">
                        <a class="flex-c" href="#openinghours">
                            <span class="button logo">
                                <svg>
                                    <use href="#clock"></use>
                                </svg>
                            </span>
                            <span class="button text openorclosed">Openingstijden<br /><span class="button text sub-text"></span></span>
                        </a>
                    </li>
                    <li class="button green">
                        <a class="flex-c" href="http://exloo.spar.nl" target="_blank" rel="noopener noreferrer">
                            <span class="button logo">
                                <svg>
                                    <use href="#basket"></use>
                                </svg>
                            </span>
                            <span class="button text">Webwinkel<br /><span class="button text sub-text">http://spar.exloo.nl</span></span>
                        </a>
                    </li>
                    <li class="button green">
                        <a class="flex-c" href="https://goo.gl/maps/q2uZGozRkatV57XM9" target="_blank" rel="noopener noreferrer">  
                            <span class="button logo">
                                <svg>
                                    <use href="#location"></use>
                                </svg>
                            </span>
                            <span class="button text">Route<br /><span class="button text sub-text">Hoofdstraat 49<br />7875AB Exloo</span></span>
                        </a>
                    </li>
                    <li class="button green">
                        <a class="flex-c" href="tel:+31591549082">
                            <span class="button logo">
                                <svg>
                                    <use href="#phone"></use>
                                </svg>
                            </span>
                            <span class="button text">Bel ons<br /><span class="button text sub-text">0591-549082</span></span>
                        </a>
                    </li>
                    <li class="button green">
                        <a class="flex-c" href="/about">
                            <span class="button logo">
                                <svg>
                                    <use href="#store"></use>
                                </svg>
                            </span>
                            <span class="button text">Over onze winkel</span>
                        </a>
                    </li>
                </ul>
            </nav>
            
        </div>
    </section>
    <article id="openinghours">
        <h2>Onze openingstijden zijn:</h2>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>open</th>
                    <th>gesloten</th>
                </tr>
            </thead>
            <tbody>
                <tr id="monday">
                    <th>Maandag</th>
                    <td>{{ .Site.Params.open.monday }}</td>
                    <td>{{ .Site.Params.closed.monday }}</td>
                </tr>
                <tr id="tuesday">
                    <th>Dinsdag</th>
                    <td>{{ .Site.Params.open.tuesday }}</td>
                    <td>{{ .Site.Params.closed.tuesday }}</td>
                </tr>
                <tr id="wednesday">
                    <th>Woensdag</th>
                    <td>{{ .Site.Params.open.wednesday }}</td>
                    <td>{{ .Site.Params.closed.wednesday }}</td>
                </tr>
                <tr id="thursday">
                    <th>Donderdag</th>
                    <td>{{ .Site.Params.open.thursday }}</td>
                    <td>{{ .Site.Params.closed.thursday }}</td>
                </tr>
                <tr id="friday">
                    <th>Vrijdag</th>
                    <td>{{ .Site.Params.open.friday }}</td>
                    <td>{{ .Site.Params.closed.friday }}</td>
                </tr>
                <tr id="saturday">
                    <th>Zaterdag</th>
                    <td>{{ .Site.Params.open.saturday }}</td>
                    <td>{{ .Site.Params.closed.saturday }}</td>
                </tr>
                <tr id="sunday">
                    <th>Zondag</th>
                    <td>{{ .Site.Params.open.sunday }}</td>
                    <td>{{ .Site.Params.closed.sunday }}</td>
                </tr>
            </tbody>
        </table>
    </article>
</main>
{{ end }}

