// Color scheme
$primary: #423e3e;
$accent-gr: #007a33;
$accent-gr-focus: #03913e;
$white: #fff;
$accent-wh: #e1e1e1;
$accent-wh-line: #eee;
$accent-img: rgba(158, 158, 158, 0.5);
// $primary-reverse: #fff;
// $accent-button: #e6f1ea;
// $highlight: #03913e;
// $highlight-accent: #00642a;
// $highlight-accent-lines: #1d9c52;

// Breakpoints
$screen-sm-min: 576px; // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px; // Small tablets (portrait view)
$screen-lg-min: 992px; // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops

$abc: xl;